.no-select {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
}
.icon-dossier {
    width: 32px;
    height: 32px;
    object-fit: cover;
}
.cacher {
    display: none;
    visibility: hidden;
}